# jupyter
ipykernel==6.29.5
# data structures
pandas==2.2.2
# visualization
seaborn==0.13.2
squarify==0.4.4
wordcloud==1.9.3
# machine learning
scikit-learn==1.5.1
lightgbm==4.5.0
xgboost==2.1.0
statsmodels==0.14.2
mlxtend==0.23.1
imbalanced-learn==0.12.3
hypopt==1.0.9
optuna==3.6.1
category_encoders==2.6.3
# mlops
mlflow==2.14.3
prefect==2.19.9
#dependencies manager
pipenv
