# jupyter
ipykernel
# data structures
pandas
# visualization
seaborn
squarify
wordcloud
# machine learning
scikit-learn
lightgbm
xgboost
statsmodels
mlxtend
imbalanced-learn
hypopt
category_encoders
# mlops
mlflow
prefect
