mlflow==2.14.3
cffi==1.16.0
cloudpickle==3.0.0
graphviz==0.20.3
imbalanced-learn==0.12.3
lightgbm==4.5.0
matplotlib==3.9.0
numpy==1.26.4
packaging==24.1
pandas==2.2.2
psutil==6.0.0
pyarrow==15.0.2
scikit-learn==1.5.1
scipy==1.14.0
pickle==4.0
mlxtend==0.23.1